/*##################################################################################################

 Styling for ch4app4

##################################################################################################*/

/* Title Styling */

#title44{
  color: black;
  font-size: 22px;
  font-weight: bold;
}

/* numericInputs */

#select_prop44 .form-control {
  background-color: #3c95af;
  color: white;
  border: 4px solid black;
}

#select_N44 .form-control {
  background-color: #3c95af;
  color: white;
  border: 4px solid black;
}

#select_Bprop44 .form-control {
  background-color: #3c95af;
  color: white;
  border: 4px solid black;
}

#select_Btotal44 .form-control {
  background-color: #3c95af;
  color: white;
  border: 4px solid black;
}

#mult44 .form-control {
  background-color: #dca909;
  color: white;
  border: 4px solid black;
}

/* Bprop slider styling */

#adjust_Bprop44 .irs-bar {
  width: 100%; 
  height: 15px; 
  background: #dca909; 
  border-top: 3px solid black; 
  border-bottom: 3px solid black;
}
      
#adjust_Bprop44 .irs-bar-edge {
  background: #dca909; 
  border-bottom: 3px solid black; 
  border-top: 3px solid black; 
  border-left: 3px solid black;
  height: 15px; 
  width: 15px;
}
      
#adjust_Bprop44 .irs-line {
  border: 3px solid black; 
  border-radius: 10px;
  height: 15px;
}

#adjust_Bprop44 .irs-grid-text {
  font-family: 'arial'; 
  font-size: 16pt; 
  color: black;
  z-index: 1;
}

#adjust_Bprop44 .irs-single {
  color:black; 
  background:white; 
  font-size: 12pt; 
  top: -6px;
}

#adjust_Bprop44 .irs-slider {
  width: 20px; 
  height: 20px; 
  top: 22px;
}

/* Btotal slider styling */

#adjust_Btotal44 .irs-bar {
  width: 100%; 
  height: 15px; 
  background: #dca909; 
  border-top: 3px solid black; 
  border-bottom: 3px solid black;
}
      
#adjust_Btotal44 .irs-bar-edge {
  background: #dca909; 
  border-bottom: 3px solid black; 
  border-top: 3px solid black; 
  border-left: 3px solid black;
  height: 15px; 
  width: 15px;
}
      
#adjust_Btotal44 .irs-line {
  border: 3px solid black; 
  border-radius: 10px;
  height: 15px;
}

#adjust_Btotal44 .irs-grid-text {
  font-family: 'arial'; 
  font-size: 16pt; 
  color: black;
  z-index: 1;
}

#adjust_Btotal44 .irs-single {
  color:black; 
  background:white; 
  font-size: 12pt; 
  top: -6px;
}

#adjust_Btotal44 .irs-slider {
  width: 20px; 
  height: 20px; 
  top: 22px;
}

/* digits slider styling */

#digits44 .irs-bar {
  width: 100%; 
  height: 15px; 
  background: #dca909; 
  border-top: 3px solid black; 
  border-bottom: 3px solid black;
}
      
#digits44 .irs-bar-edge {
  background: #dca909; 
  border-bottom: 3px solid black; 
  border-top: 3px solid black; 
  border-left: 3px solid black;
  height: 15px; 
  width: 15px;
}
      
#digits44 .irs-line {
  border: 3px solid black; 
  border-radius: 10px;
  height: 15px;
}

#digits44 .irs-grid-text {
  font-family: 'arial'; 
  font-size: 16pt; 
  color: black;
  z-index: 1;
}

#digits44 .irs-single {
  color:black; 
  background:white; 
  font-size: 12pt; 
  top: -6px;
}

#digits44 .irs-slider {
  width: 20px; 
  height: 20px; 
  top: 22px;
}